@model Shop1.Models.ViewModel.Cart.CartViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (Model == null)
{
    <h1>Cart is empty</h1>
}
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product name</th>
                <th scope="col">Price</th>
                <th scope="col">Delete from cart</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>

                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <a href="#" class="delete" data-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <h1>TOTAL: @Model.Products.Sum(x => x.Price)</h1>

        </tfoot>
    </table>
    <form action="/cart/checkout" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <input value="@Model.Id" hidden />
        <div class="form-group">

            <label for="exampleInputEmail1">Address</label>
            <input asp-for="@Model.DeliveryAddress" class="form-control" placeholder="Enter Delivery Address">
            <span asp-validation-for="@Model.DeliveryAddress" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
	
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
    <script>
    $(".delete").click((e) => {
        var id = e.currentTarget.attributes[2].value;
		var check = "";
        console.log(id);
		Swal.fire({  
		  title: 'Are you sure?',  
		  showDenyButton: true,  showCancelButton: false,  
		  confirmButtonText: 'Yes',  
		  denyButtonText: 'Cancel',
		}).then((result) => {  
			/* Read more about isConfirmed, isDenied below */  
			if (result.isConfirmed) {    
				functiondelete()
			} else if (result.isDenied) {    
				check = "false";
			}
		});
        function functiondelete(){
            $.ajax({
                url: "/cart/",
                method: "delete",
                data: { productId: id, cartId:@Model.Id },
                success: (result) => {
                    Swal.fire(
                    'Product deleted!',
                )
					$( ".swal2-confirm" ).click(function() {
						location.reload();
					});
                    //location.reload();
                },
                error: (err) => {
				Swal.fire(
                    err.statusText,
                )
                }
            }
            );
        }
    });

    </script>
}



